name: CI Build

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Setup .NET Core
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602
        with:
          global-json-file: global.json
      - name: Build with dotnet
        run: dotnet build --configuration Release
    #   - name: Test with dotnet
    #     run: dotnet test
