name: CI Build

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d
        with:
          global-json-file: global.json
      - name: Build with dotnet
        run: dotnet build --configuration Release
    #   - name: Test with dotnet
    #     run: dotnet test
