name: CI Build

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Setup .NET Core
        uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9
        with:
          global-json-file: global.json
      - name: Build with dotnet
        run: dotnet build --configuration Release
    #   - name: Test with dotnet
    #     run: dotnet test
